{% extends 'base.html'%}
{% load static %}

{% block title %} Multilinear Regression {% endblock title%}
{% block head %} <link rel="stylesheet" href="{% static 'css/PRstyles.css' %}"> {% endblock %}


{% block content %}

	<h1>Multiple Linear Regression</h1>

	<form id="csvFile" enctype="multipart/form-data" id="csvFile" method="post">
        {% csrf_token %}
        {{ form.as_p }}
		<input type="submit"/>
    </form>

	<!--If submit button pressed-->
	{% if datasetUploaded %}
	
	<div class="dataframe">
		<table id="table-data">
			<thead>
				<tr>
					{% for column in df.columns %}
						<!-- Clickable Headers submit to Django backend-->
						<th>
							<h3>
									{{ column }}
							</h3>
						</th>

					{% endfor %}
				</tr>
			</thead>
			<div class="datarows">
				<h2> Original Data </h2>
				{% include 'table.html' %}
			</div>
		</table>
	</div>
	<div class="dataframe">
		<table id="table-data">
			<thead>
				<tr>
					{% for column in num_df.columns %}
						<!-- Clickable Headers submit to Django backend-->
						<th>
							<input type="submit" class="data-header" value="{{ column }}"/>	
						</th>

					{% endfor %}
				</tr>
			</thead>
			<div class="datarows">
				<h2> Numerical Data </h2>
				{% include 'num_table.html' %}
				<tr>
					<div id="feature-inputs" style="display: none;">

						{% for column in num_df.columns %}
						<td>
								<!-- Enable when data is fitted -->
								<div  class="prediction" id="feature-{{ forloop.counter0 }}" style="display: none;">
									<h3>
										{{ column }} <input type="number" id="input-feature-{{ forloop.counter0 }}"  placeholder="{{ column }}" required>
									</h3>	
								</div>
							
						</td>
						{% endfor %}
					

						<td>
							<input type="submit" id="predict-button" value="Predict" ></input>
						</td>
					</div>
					
				</tr>
			</div>
		</table>
	
	</div>



	<!-- Display regression line equation and plot -->

	
	<div id="regression-container"></div>

	{% endif %}



	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


	<script> 
		var columnName = "";
		var response_tmp = "";
		var inputs = [];
		var weights = [];
		var features = [];
		
			$(document).ready(function() {
				// Handle click event on table header button
				$('.data-header').click(function() {
					
					columnName = $(this).val();
					// Send POST request using AJAX
					$.ajax({
						type: 'POST',
						url: 'regression/',  // Replace with the URL of your Django view method
						data: {
							'target': columnName,
							'csrfmiddlewaretoken': '{{ csrf_token }}'  // Include CSRF token
						},
						beforeSend: function(xhr, settings) {
							// Include CSRF token in request headers
							xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
						},
						success: function(response) {
							// Assuming these are the regression values you want to output
							response_tmp = response
							

						
							// Get the column name from the button's value
							// Handle success response
							console.log('POST request successful');
							// Get the container element where you want to insert the regression values
							var container = document.getElementById('regression-container');

							y_pred = ""
							var regressionValues = {
								equation: response.y['equation'],
								predictedValue: y_pred,
								standardError: response.y['standard_error'],
								correlationCoefficient: response.y['correlation'],
								correlationDescription: response.y['correlation_description']
							};
							// Generate HTML for regression values
							var regressionHTML = generateRegressionHTML(regressionValues);

							// Insert the generated HTML into the container
							container.inenerHTML = response;

							container.innerHTML = regressionHTML;

							var input = document.getElementById('feature-inputs');
							input.style.display = 'block';
							enableInputs()
							weights = response.y['weights']
							features = response.data_column['X']

						},
						error: function(xhr, textStatus, errorThrown) {
							// Handle error response
							console.error('Error:', errorThrown);
							// You can optionally show an error message here
						}
					});
				});
				// Function to generate HTML for regression values
				function generateRegressionHTML(values) {
					
					var html = '';
					html += '<div class="regression-values">';
					html += '<p>Equation: ' + values.equation + '</p>';
					html += '<p id="prediction-container">Predicted Value: ' + values.predictedValue + '</p>';
					html += '<p>Standard Error: ' + values.standardError + '</p>';
					html += '<p>Correlation Coefficient: ' + values.correlationCoefficient + '</p>';
					html += '<p>Correlation Description: ' + values.correlationDescription + '</p>';
					html += '</div>';
					return html;
				}
				function enableInputs() {
					
					{% for column in num_df.columns %}
						
						// Get the input element
						var div = document.getElementById('feature-{{ forloop.counter0 }}');
						var input = document.getElementById('input-feature-{{ forloop.counter0 }}');
						if ('{{ column }}' == columnName){
							// Hide the input field
							div.style.display = 'none';
						}
						else{
							// Show the input field
							div.style.display = 'block';
							inputs.push(input)
						}

					{% endfor %}
				}
				
				// Handle click event on table header button
				$('#predict-button').click(function() {
					
					// Send POST request using AJAX
					$.ajax({
						type: 'POST',
						url: 'predictData/',  // Replace with the URL of your Django view method
						data: {
							"weights": weights
						},
						beforeSend: function(xhr, settings) {
							// Include CSRF token in request headers
							xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
						},
						success: function(response) {
							enableInputs();
							console.log('POST request successful');
							console.log(weights)
							// Assuming these are the regression values you want to output
							var container = document.getElementById('prediction-container');

							var y_pred = weights[0];
							console.log(y_pred);
							console.log('column ' + features)
							let i = 0;
							let j = 1;

							console.log(inputs)
							while (j < weights.length){
								console.log("i: " + i)
								console.log("j: " + j)
								input = inputs[j-1].value
								if (input == ""){
									input = 0
									y_pred = ""
									break;
								}
								else{
									if (features[i] != columnName){
										console.log(features[i])
										console.log(weights[j] + " * " + input)
										y_pred += weights[j] * input;
										j++;
										
									}
									i++;
								}
							}
							inputs = []

							console.log(y_pred);
							var predictionHTML = '<p>Predicted Value: ' + parseFloat(y_pred).toFixed(4) + '</p>';

							// Insert the generated HTML into the container
							container.innerHTML = predictionHTML;
							console.log(predictionHTML)
							



						},
						error: function(xhr, textStatus, errorThrown) {
							// Handle error response
							console.error('Error:', errorThrown);
							// You can optionally show an error message here
						}
					});
				});
			});

	</script>
	
{% endblock %}